<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Data table of your expenses
      <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[10, 30, 70, 100]">
      </mat-paginator>
    </div>
    <div class="card-body">
      <div class="table-responsive">
          <table mat-table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0" [dataSource]="dataSource" matSort aria-label="Elements">
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <!-- amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
              <td mat-cell *matCellDef="let row">{{row.amount}}</td>
            </ng-container>

            <!-- date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let row">{{row.date}}</td>
            </ng-container>

            <!-- description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let row">{{row.description}}</td>
            </ng-container>

            <!-- location Column -->
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
              <td mat-cell *matCellDef="let row">{{row.location}}</td>
            </ng-container>

            <!-- moodLevel Column -->
            <ng-container matColumnDef="moodLevel">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Mood Level</th>
              <td mat-cell *matCellDef="let row">{{row.moodLevel}}</td>
            </ng-container>

            <!-- type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
              <td mat-cell *matCellDef="let row">{{row.type}}</td>
            </ng-container>

            <!-- userStatus Column -->
            <ng-container matColumnDef="userStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Status</th>
              <td mat-cell *matCellDef="let row">{{row.userStatus}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
  </div>
</div>
