<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let notification of notifications">
      <div class="card text-white bg-{{notification.bg}} o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-{{notification.font_awesome}}"></i>
          </div>
          <div class="mr-5">{{notification.message}}</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{{notification.href">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>