/*Style of Ids*/

#filtersContainer{
    position: relative;
}

#reportrange{
    background: #4CAF50;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
}

#slider-range{
    border:0;
    color:#050300;
    font-weight:bold;
    width: 95%;
}

#chartContainer{
    height: 800px; /*ToDo:: make this a parameter*/
    width: 1600px; /*ToDo:: make this a parameter*/
}

#chartWrapper {
    position: absolute;
    right: 0;
    width: 96%;
    height: 90%;
    overflow-y: auto;
    
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*Style of classes*/

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidebar label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar label:hover {
    color: rgb(0, 75, 0);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn{
    color:white;
    text-decoration: none;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*Html basic objects style*/
select{
    background-color: #4CAF50;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

input{
    background-color: #4CAF50;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

::placeholder{
    color: #050300;
}