<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Table of Expenses</li>
  </ol>
  <div class="card-header">
    <i class="fas fa-table"></i>Descriptions of costs
  </div>
  <ul>
    <li *ngFor="let cost of costs">
      <a routerLink="/details/{{cost.id}}">{{ cost.description }}</a>
    </li>
  </ul>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<!-- /.container-fluid -->