<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Table of Users</li>
  </ol>
  <div class="card-header">
    <i class="fas fa-table"></i>Users
  </div>
  <ul>
    <li *ngFor="let user of users$">
      <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
      <ul>
        <li>{{ user.email }}</li>
        <a href="https://{{ user.website }}"></a><li>{{ user.website }}</li>
      </ul>
    </li>
  </ul>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<!-- /.container-fluid -->