/*Style of classes*/
#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*Html basic objects style*/
select{
    background-color: #08c;
    font-size: 13px;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

input{
    background-color: #08c;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

::placeholder{
    color: #050300;
}