
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
      <app-pages></app-pages>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-href="./../sidebar/charts/charts.component.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-href="./../sidebar/tables/tables.component.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="./../sidebar/filters/filters.component.html">
          <i class="fas fa-fw fa-filter"></i>
          <span>Filters</span>
        </a>
      </li>
  </ul>