
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="../">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../pages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../charts">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../tables">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="../filters">
          <i class="fas fa-fw fa-filter"></i>
          <span>Filters</span></a>
      </li>
  </ul>