<body id="page-top">
    <div id="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <app-morgan-icon-cards></app-morgan-icon-cards>
        <app-morgan-chart-area></app-morgan-chart-area>
        <app-morgan-data-table></app-morgan-data-table>
    </div>
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>  
</body>