#filtersContainer{
    position: relative;
    display: none;
}

#reportrange{
    background: rgba(0, 112, 240, 0.781);
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 18%;
}

#slider-range{
    border:0;
    color:#050300;
    font-weight:bold;
    width: 18%;
}

#chartContainer{
    height: 800px; /*ToDo:: make this a parameter*/
    width: 1600px; /*ToDo:: make this a parameter*/
}

#chartWrapper {
    position: absolute;
    right: 0;
    width: 80%;
    height: 90%;
    border: 3px solid blue;
    overflow-y: auto;

}

